/*The addProduct component outer wrapper*/
.addProduct {
    margin-left: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*The form wrapper*/
.addProduct form {
    border: 1px solid black;
    display: grid;
    box-shadow: 1px 1px 4px black;
    grid-template-areas: "header header"
                         "hr hr";
}

/*All forms' elements*/
.formComponents {
    margin: 12px;
}

/*Below are all the form elements one by one, for grid positioning*/
#formTitle {
    grid-area: header;
}

#formLine {
    grid-area: hr;
    margin-left: 0;
}

#categoryLabel {
    grid-area: line 1;
    margin: 15px;
}

#categoryInput {
    grid-area: line 2;
}

#nameLabel {
    grid-area: line 3;
}

#currencyLabel {
    grid-area: line 3;
}

#nameInput {
    grid-area: line 4;
}

#currencySelect {
    grid-area: line 4;
}

#quantityLabel {
    grid-area: line 5;
}

#deliveryLabel {
    grid-area: line 5;
}

#quantityInput {
    grid-area: line 6;
}

#deliveryInput {
    grid-area: line 6;
}

#takeAwayLabel {
    grid-area: line 7;
}

#descriptionLabel {
    grid-area: line 7;
}

#takeAwayInput {
    grid-area: line 8;
}

#descriptionInput {
    grid-area: line 8;
}

#imageLabel  {
    grid-area: line 9;
}

#imageInput  {
    grid-area: line 10;
}

#submit {
    grid-area: line 11;
}