.chatDashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    margin-left: 230px;
    height: 100vh;
}

#chatWrapper {
    width: 93%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    min-height: 60vh;
    }

#chatTitle {
    width: 93%;   
    background-color: white;
    height: 110px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    }    

#chatTitle h1{    
    color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}    

.chatList {
    position: relative;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px ridge silver; 
}

.messageList {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

#deleteMessageWrapper {
    background-color: white;
    width: 93%;
    padding-left: 30px;
    display: flex;
    padding-bottom: 50px;
}

#loaderInbox {
    background-color: white;
    width: 93%;
    display: flex;
    justify-content: center;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 30px;
    height: 30px; 
    border: 5px solid #999999; /* Light grey */
    border-top: 5px solid #404040; /* Black */
    border-radius: 50%;
    animation: spinner 0.5s linear infinite;
  }

#selectAll {
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    align-self: center;
    padding-left: 5px;
    padding-right: 30px;
}

#deleteButton {
    background-color: #FF033E;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

#markUnread {
    background-color: #9932cc ;
    padding: 6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-right: 10px;
}

.chatMessageDetails {
    display: flex;
    padding: 25px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px ridge silver;  
  }

#searchMessageWrapper {
    margin-left: 46%;
}

#searchMessage {
    background-color: white;
    outline: none;
    border-radius: 6px 0 0 6px;
    border: 1px solid #808080;
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
}

#searchMessageButton {
    border-radius: 0 6px 6px 0;
    border: none;
    background: linear-gradient( to bottom right, rgb(64, 84, 178), rgb(219, 2, 234));
    color: white;
    padding: 6px 10px 6px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.chatList:hover {
    background-color: #f2f3f4;
  }  

.customersName {
    flex-basis: 7%;
}  

.customersMessage {
    justify-self: left;
    flex-basis: 60%;
}




.messageLink {
    text-decoration: none;
    color: inherit;
}


.bold {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}


.normalFont {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.chat {
    margin-left: 230px;
}

.load {
    display: none;
}
.admin {
    display: none;
}

.chat ul li {
    padding: 30px;
    font-size: 1.5rem;
}

#form { background: #dda0dd; 
        padding: 0.3rem; 
        position: fixed; 
        bottom: 0; 
        left: 230px;
        right: 0; 
        display: flex; 
        height: 3.5rem; 
        box-sizing: border-box;
      }

#input { border: none; 
         padding: 0 1rem 0 1rem; 
         flex-grow: 1; 
         border-radius: 2rem 0 0 2rem; 
         margin: 0.3rem; 
         margin-right: 0;
         font-size: 1.3rem;
        }

#input:focus {
    outline: none;
}

#sendButton {
    cursor: pointer;
    border-radius: 0 5px 5px 0; 
    padding: 4px 12px 4px 10px;
    font-size: 1.2rem;
    border: none;
    background: linear-gradient( to bottom right, rgb(64, 84, 178), rgb(219, 2, 234));
    color: white;
    margin: 0.3rem 0.3rem 0.3rem 0; 
}

#userTyping {
        position: fixed; 
        bottom: 60px; 
        left: 220px;
        display: none;
    }

#messages {
    margin-bottom: 80px;
}