.chatDashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    margin-left: 230px;
    padding-top: 100px;
}

#chatWrapper {
    width: 93%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px; 
    min-height: 60vh;
    } 

#chatTitle {
    width: 93%;   
    background-color: white;
    height: 110px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    }    

#chatTitle h1{    
    color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}    

.chatList {
    position: relative;
}

#selectAllWrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 30px;
    color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px ridge silver; 
}

.messageList {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

#deleteMessageWrapper {
    background-color: white;
    width: 93%;
    padding-left: 30px;
    display: flex;
    padding-bottom: 50px;
}

#messageButtonHandlers {
    display: flex;
    width: 50%;
}

#loaderInbox {
    background-color: white;
    width: 93%;
    display: flex;
    justify-content: center;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 30px;
    height: 30px; 
    border: 5px solid #999999; /* Light grey */
    border-top: 5px solid #404040; /* Black */
    border-radius: 50%;
    animation: spinner 0.5s linear infinite;
  }

#selectAll {
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    align-self: center;
    padding-left: 5px;
    padding-right: 30px;
}

#deleteButton {
    background-color: #FF033E;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

#markUnread {
    background-color: #9932cc ;
    padding: 6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-right: 10px;
}

.chatMessageDetails {
    display: flex;
    padding: 25px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px ridge silver;  
  }

#searchMessageWrapper {
   width: 50%;
   text-align: right;
   margin-right: 2%;
}

#searchMessage {
    background-color: white;
    outline: none;
    border-radius: 6px 0 0 6px;
    border: 1px solid #808080;
    padding: 5px 10px 5px 10px;
    font-size: 1rem;    
    max-width: 75%;
}

#searchMessageButton {
    border-radius: 0 6px 6px 0;
    border: none;
    background: linear-gradient( to bottom right, rgb(64, 84, 178), rgb(219, 2, 234));
    color: white;
    padding: 6px 10px 6px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.chatList:hover {
    background-color: #f2f3f4;
  }  

.customersName {
    flex-basis: 7%;
    margin-right: 5px;
}  

.customersMessage {
    justify-self: left;
    flex-basis: 60%;
    color: #682860; 
}

.messageDate {
    color: #606060;
    margin-left: 5px;
}

.messageLink {
    text-decoration: none;
    color: inherit;
}

.bold {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #202020;
}

.normalFont {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.chat {
    margin-left: 230px;
    padding-top: 30px;
}

.load {
    display: none;
}
.admin {
    display: none;
}

.chat ul li {
    padding: 30px;
    font-size: 1.5rem;
}

#form { background: #dda0dd; 
        padding: 0.3rem; 
        position: fixed; 
        bottom: 0; 
        left: 230px;
        right: 0; 
        display: flex; 
        height: 3.5rem; 
        box-sizing: border-box;
      }

#input { border: none; 
         padding: 0 1rem 0 1rem; 
         flex-grow: 1; 
         border-radius: 2rem 0 0 2rem; 
         margin: 0.3rem;
         margin-right: 0;
         font-size: 1.3rem;
        }

#input:focus {
    outline: none;
}

#sendButton {
    cursor: pointer;
    border-radius: 0 5px 5px 0; 
    padding: 4px 12px 4px 10px;
    font-size: 1.2rem;
    border: none;
    background: linear-gradient( to bottom right, rgb(64, 84, 178), rgb(219, 2, 234));
    color: white;
    margin: 0.3rem 0.3rem 0.3rem 0; 
}

#userTyping {
        position: fixed; 
        bottom: 60px; 
        left: auto;
        right: 20px;
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
    }

#messages {
    margin-bottom: 100px;
}

.messageInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 30% 35px 3%;
    border-radius: 50px;
    background-color: #D8BFD8;
}

.colorOfadmin {
    background-color: #c9a0dc;
    margin: 0 3% 35px 30%;
}

.senderAndDate {
    display: flex;
}

.sendDate {
    margin-right: 10px;
    margin-left: auto;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

.senderName {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

.messageTextWrapper {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
}

.messageText {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #101010;
    max-width: 100%;
    overflow-wrap: break-word;
}

@media (max-width: 375px) {
    #messageButtonHandlers {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    #selectAll {
        align-self: flex-start;
    }

    .chatMessageDetails {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    } 

    .messageDate {
        margin-left: 0;
    }

    .senderAndDate{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .sendDate {
        margin-right: 0;
        margin-left: 0;
    }

    #input {
        width: 80%;
    }
}

@media (max-width: 740px) {
    #deleteMessageWrapper {
        flex-direction: column;
        gap: 10px;
    }

    #messageButtonHandlers {
        width: 100%;
    }

    #searchMessageWrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .messageInfoWrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media ( max-width: 1100px ) {

    .chatDashboard {
        margin-left: 0;
        padding-top: 120px;
    }   

    .chat {
        margin-left: 0;
        padding-top: 120px;
    }

    #form {
        left: 0;
    }
}