.chatDashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    height: 100vh;
}

#chatWrapper {
    width: 90%;
    background-color: white;

}

.messageList {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

.chatMessageDetails {
    display: flex;
    padding: 25px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px ridge silver;  
  }

.customersName {
    flex-basis: 7%;
}  

.customersMessage {
    justify-self: left;
    flex-basis: 60%;
}

.chat {
    margin-left: 200px;
}

.messageLink {
    text-decoration: none;
    color: inherit;
}

.chatMessageDetails:hover {
    box-shadow: 1px 1px 4px #808080;
}

.bold {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.normalFont {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.load {
    display: none;
}
.admin {
    display: none;
}

.chat ul li {
    padding: 30px;
    font-size: 1.5rem;
}

#form { background: rgba(0, 0, 0, 0.15); 
        padding: 0.25rem; 
        position: fixed; 
        bottom: 0; 
        left: 200px;
        right: 0; 
        display: flex; 
        height: 3rem; 
        box-sizing: border-box;
      }

#input { border: none; 
         padding: 0 1rem; 
         flex-grow: 1; 
         border-radius: 2rem; 
         margin: 0.25rem; 
        }

#userTyping {
        position: fixed; 
        bottom: 60px; 
        left: 220px;
        display: none;
    }