.customersComponent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    height: 100%;
    margin-left: 230px;
}

.customersWrapper {
    margin-top: 110px;
    background-color: white;
    padding: 20px;
    width: 95%; 
    min-height: 80%;
    box-shadow: 1px 1px 4px #808080;    
}

#customersLoader {
    text-align: center;
}

#customerListWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#desiredCustomer {
    background-color: white;
    outline: none;
    border-radius: 6px 0 0 6px;
    border: 1px solid #808080;
    padding: 5px 10px 5px 10px;
    font-size: 1rem;    
    max-width: 75%;
    color: #202020;
}

#customerSearchInput {
    border-radius: 0 6px 6px 0;
    border: none;
    background: linear-gradient( to bottom right, rgb(64, 84, 178), rgb(219, 2, 234));
    color: white;
    padding: 6px 10px 6px 10px;
    font-size: 1rem;
    cursor: pointer;
}

#desiredCustomer:focus {
    outline: none;
}


.customersTable {
    overflow-x: scroll;
}

.customersTitle {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-top: 20px
}

#customersTableWrapper {
    overflow-x: scroll;
    visibility: hidden;
    min-height: 60vh;
}

#customersLoader {
    margin-top: 50px;
}

#noCustomerFound {
    display: none;
    text-align: center;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #151515;
}

#noCustomerText {
    margin-top: 60px;
}

.customersTable th {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 20px;
    background-color: #9370db;
    color: white;
    text-align: left;
    font-size: 0.9rem;
}

.customersTable td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 20px;
    text-align: center;
    color: #303030;
    border-bottom: 1px ridge silver;
    text-align: left;
    font-size: 0.9rem;
}

@media (max-width: 475px) {
    #customerListWrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
        gap: 5px;
    } 
} 

@media ( max-width: 1100px ) {

    .customersComponent {
        margin-left: 0;
    }
}