.orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    height: 100vh;
    margin-left: 230px;
}

#ordersListTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#ordersListTitle h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #303030;
}

#ordersWrapper {
    background-color: white;
    box-shadow: 1px 1px 6px #808080;
}

.ordersTable  th {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 25px;
    background-color: #ba55d3;
    color: white;
  }

.ordersTable  td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 25px;
    text-align: center;
    color: #303030;
}

.ordersTable  tr:hover{
    background-color: silver;
}