.orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    height: 100vh;
    margin-left: 230px;
}

#ordersWrapper {
    background-color: white;
    padding: 20px;
    width: 95%; 
    box-shadow: 1px 1px 4px #808080;
    min-height: 80vh
}

.unChecked {
    font-weight: 600;
}

.checked {
    font-weight: 400;
}

#ordersListTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}

#ordersListTitle h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #303030;
}

.ordersTable  th {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 30px;
    background-color: #ba55d3;
    color: white;
  }

.ordersTable  td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    text-align: center;
    color: #303030;
    border-bottom: 1px ridge silver;
}

.ordersTable  tr:hover{
    background-color: silver;
}

.checkOrderButton {
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.checkedOrder {    
    background: linear-gradient( to bottom right, rgb(64, 84, 178), rgb(219, 2, 234));
}

.unCheckedOrder {
    background-color: red;
}