/*The component where you can check and modify the menu*/
.preview {
    margin-left: 200px;
}

#productsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;

}

.products {
    border: 1px solid black;
  
}