/*The component where you can check and modify the menu*/
.preview {
  margin-left: 200px;
}

/*The products outer wrapper*/
#productsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

/*The container that holds the product's info*/
.product {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

/*The product's image*/
.image {
  width: 200px;
  height: 200px;
}

/*The edit input elements*/
.edit {
  display: none;
}

