.specificOrder {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
}

.ordersWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    padding: 20px;
    box-shadow: 1px 1px 4px #808080;
}

.ordersInfo {
    font-size: 1rem;
}

.receiver {
    font-size: 1.6rem;
    margin-top: 20px;
    color: #303030;
}

.customerInfo {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
}


.header {
    display: flex;
    justify-content: space-between;
}

.nameAndDate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.specificName {
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.specificAddress {
    margin-bottom: 50px;
}

.allOrdersTable th {
    text-align: left;
    background-color: #ba55d3;
    padding: 10px 20px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.allOrdersTable td {
    text-align: left;
    padding: 10px 20px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
    border-bottom: 1px ridge silver;
}

.totalPriceRow td{
    border-bottom: none;
}

@media ( max-width: 1100px ) {

    .specificOrder {
        margin-left: 0;
    }
}