.specificOrder {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
   
}

.ordersWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nameAndDate {
    display: flex;
    justify-content: space-between;
}